<div>
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
</div>

<div>
  <h2>A bit more about this flat</h2>
  <p><%= @flat.description %></p>
</div>

<div>
  <h2>Details</h2>
  <span><%= @flat.number_of_guests %></span>
  <span><%= @flat.price_per_night %></span>
</div>

<%= link_to 'edit flat', edit_flat_path(@flat) %>